.main{
    max-width: 1350px;
    background-color: lightgray;
     display: flex;  
     flex-wrap:wrap-reverse; 
     flex-direction: column; 
     margin-left: auto; 
     margin-right: auto; 
}

.container-1{
    display: flex;
    background-color: white;
    margin: 10px;

}

.whitesedan-info{
    flex-wrap: wrap;
    margin-left:10px;
    flex-basis: 100%;
}

.subinfo{
    display:flex;
    justify-content:space-between ;
     width: 280px;
    
}


span{
    color: lightgray;
}

.subinfo-bidding{
    display:flex;
}

.bidding{
    margin-left: 40px;
}

.datecolor{
    color: red;
}

.priceboxes{
    background-color: blue;
    padding: 4px;
    border-radius: 4px;
    color: white;
    display: flex;
    justify-content: center;
}

.proxybidding{

    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    
}

.proxybidsubinfo{
    display: flex;
}

.viewcartex{
    color:blue;
    background-color: white;
    height: 40px;
    display: flex;
    justify-content: right;
    align-items: center;
    
}


.announcements{
    height: 150px;
    overflow: auto;
    background-color: white;

}
.mainheading{
    background-color: darkslateblue;
    border-radius: 4px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content:right ;
    max-width: 1350px;
    margin-right: auto;
    margin-left: auto;
}


.container-2{
    margin-top: 10px;
    
  
}
.container-3{
margin-top: 10px;

}   
   



.textcolor-row{
    color: blue;
    
}

.textcolor-row-2{
    color: grey;
}

.container2-body{
   
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}
.container3-body{
    display: flex;
    justify-content:space-between;
    
    width: 880px;
    margin-left:10px;
    margin-right:10px;
}

.cont2-col12{
    display: flex;
    justify-content: space-between;
    width: 250px;
}
.cont3-cols{
    display: flex;
    justify-content: space-between;
    width: 200px;
}




.oddrow-container3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    border-radius: 4px;
    margin-top:2px;
    background-color: white;
}
.evenrow-container3{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color:lightgrey;
    height: 35px;
    border-radius: 4px;
    margin-top:2px;
}

.container-4{
    margin-top: 10px;
}

.container4-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    border-radius: 4px;
    margin-top:2px;
    background-color: white;
    margin-left: 5px;
    margin-right:5px;
}

.container-5{
    margin-top: 10px;
   
}

.container5-body{

    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}

.cont5-cols{

    display: flex;
    justify-content: space-between;
    width: 520px;
}

.details{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 1100px;
    background-color: white;
    
}


.testclass{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.subtestclass{
    display: flex;
    justify-content: space-between;
    
    width: 800px;
    
    
}

.details2{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 1100px;
    background-color: white;
    
}

.subtestclass2{
    display: flex;
    justify-content: space-between;
    width: 800px;
    
}

.conatiner-6{
   
    max-width: 1350px;
    display: flex;
}

.container6-body{
    margin: auto;
    max-width: 1350px;
    display: flex;
    justify-content: space-between;
}